pytest==7.2.0
Kivy~=2.1.0
pip==22.3.1
attrs~=22.1.0
wheel==0.38.4
docutils~=0.19
pluggy~=1.0.0
exceptiongroup~=1.0.1
iniconfig~=1.1.1
pyparsing~=3.0.9
setuptools==65.5.1
Flask==2.2.2
pubnub==7.0.1
requests==2.28.1
cryptography==38.0.3
Flask-Cors==3.0.10